.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.output{
    outline:none;
    border:none;
    width:320px;
    height:70px;
    font-size:32px;
    padding:2px 10px;
    background-color: #2d2b2b;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color:white;
    text-align: right;
}
button{
    width:85px;
    height:90px;
    font-size:26px;
    cursor:pointer;
    border:none; 
    border-top:1px solid #666;
    border-right:1px solid #666;

}
.digit:hover{
    background-color:lightgrey;
}
.operator:hover{
    background-color:rgb(215, 156, 44);
}
.fun-key:hover{
    background-color:lightgrey;
}

.operator{
    border-right:none;
    background-color:orange;
}
.fun-key{
    background-color:grey;
}